[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stemmatology"]
	path = stemmatology
	url = https://github.com/jean-baptiste-camps/stemmatology
